	<nav class="navbar navbar-expand-sm navbar-light">
		<div id="ULTIMATEhiddendate" hidden>{{DDate}}</div>
		<div id="ULTIMATEhiddenacc" hidden>{{ACCType}}</div>
		<div id="ULTIMATEhiddenses" hidden>{{Session}}</div>
		<div class = "container-fluid">
			<a href="/home/{{ACCType}}/{{Session}}/{{DDate}}" class="navbar-brand">
				<img src="/public/css/logo.jpg" alt="Dirty Treats Logo" width="50" height="50" class="d-inline-block align-middle"/> 
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"> </span>
			</button>
			<div class="collapse navbar-collapse" id="toggleMobileMenu">
				<ul class="navbar-nav text-center">
					<li> 
						<a class="nav-link active rounded-top rounded-bottom navhover"  href="/home/{{ACCType}}/{{Session}}/{{DDate}}" style="color: black;">
							<i class="bi bi-house-fill" > Home </i>  
						</a> 
					</li>
					<li> 
						<a class="nav-link rounded-top rounded-bottom navhover" href="/log/{{ACCType}}/{{Session}}/{{DDate}}" style="color: black;">
							<i class="bi bi-journal-text" > Log </i>  
						</a> 
					</li>
					<li> 
						<a class="nav-link rounded-top rounded-bottom navhover" href="/balances/{{ACCType}}/{{Session}}/{{DDate}}" style="color: black;">
							<i class="bi bi-cash-stack"> Balances </i> 
						</a> 
					</li>
					<li> 
						<a class="nav-link rounded-top rounded-bottom navhover" href="/inventory/{{ACCType}}/{{Session}}/{{DDate}}" style="color: black;">
							<i class="bi bi-boxes" > Inventory </i> 
						</a> 
					</li>
				</ul>
				<ul class="navbar-nav ms-auto">
					<div class="px-3 font-monospace" style="font-size: 14px;">
						Current Session: <div id="navSession" style="display: inline">{{Session}}</div>
						<br>
						Type: <div id="navACCType" style="display: inline">{{ACCType}}</div>
					</div>
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle rounded-top rounded-bottom navhover" id="SessionDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
						<i class="bi bi-clock-fill"> Session </i> 
					</a>
					<div class="dropdown-menu" aria-labelledby="SessionDropDown">
						{{#if_eq Session "Anonymous"}}
						<a class="dropdown-item" href="addSessionModal" data-toggle="modal" data-target="#addSessionModal"> Add Session </a>
						{{else}}
						<a class="dropdown-item" href="addSessionModal" data-toggle="modal" data-target="#addSessionModal"> Change Session </a>
						{{/if_eq}}
						{{#if_neq Session "Anonymous"}}
						<a class="dropdown-item" href="endSessionModal" data-toggle="modal" data-target="#endSessionModal"> End Session </a>
						{{else}}
						{{/if_neq}}
					</div>
				</li>
				<!-- Start of Add Session Modal -->			
				<div class="modal fade" id="addSessionModal" tabindex="-1" role="dialog" aria-labelledby="addSessionModalLabel" aria-hidden="true">
					<form id="THESESSIONFORM" method="post" action="">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel"> {{#if_eq Session "Anonymous"}} Add Session {{else}} Change Session {{/if_eq}} </h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"  onclick="resetSessionInput()">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body col-12">
									{{#if_eq ACCType "EMPLOYEE"}}
									<h5> Employee Name </h5>
									{{else}}
									<h5> Admin Name </h5>
									{{/if_eq}}
									<input id="addSessionName" type="text" value="">
									<span id="EMPerror1" style="padding-top: 10px; padding-left: 10px; color:red"></span>
								</div>
								<div class="modal-body">
									<h5>Password</h5>
									<input id="addSessionPass" type="password" value="">
									<span id="EMPerror2" style="padding-top: 10px; padding-left: 10px; color:red"></span>
								</div>
								<span id="EMPerror3" style="padding-top: 10px; padding-left: 10px; color:red"></span>
								<script>
									$("#addSessionName").keydown(function(event) {
										var inputValue = event.which;
										if(!(inputValue >= 65 && inputValue <= 122) && (inputValue != 32 && inputValue != 0 && inputValue != 8)) 
											event.preventDefault(); 
										});
									$("#NewEMPName").keydown(function(event) {
										var inputValue = event.which;
										if(!(inputValue >= 65 && inputValue <= 122) && (inputValue != 32 && inputValue != 0 && inputValue != 8)) 
											event.preventDefault(); 
										});
									function addSession() {
										var sessionName = event.currentTarget.parentElement.parentElement.children[1].children[1].value
										var sessionPass = event.currentTarget.parentElement.parentElement.children[2].children[1].value
										var EMPerror1 = document.getElementById("EMPerror1")
										var EMPerror2 = document.getElementById("EMPerror2")
										var EMPerror3 = document.getElementById("EMPerror3")
										var DDate = $("#ULTIMATEhiddendate").text()
										var ACCType = $("#ULTIMATEhiddenacc").text()
										if (sessionName === "" && sessionPass === "") {
											EMPerror1.innerText = "Empty Name!"
											EMPerror2.innerText = "Empty Password!"
											EMPerror3.innerText = ""
										}
										else if (sessionName === "") {
											EMPerror1.innerText = "Empty Name!"
											EMPerror2.innerText = ""
											EMPerror3.innerText = ""
										}
										else if (sessionPass === "") {
											EMPerror2.innerText = "Empty Password!"
											EMPerror1.innerText = ""
											EMPerror3.innerText = ""
										}
										else {
											EMPerror1.innerText = ""
											EMPerror2.innerText = ""
											document.getElementById("THESESSIONFORM").setAttribute("action", "/session/" + ACCType + "/" + sessionName + "/" + sessionPass + "/" + DDate)
											document.getElementById("THESESSIONFORM").submit()
											if (performance.navigation.type === 0) {
												function test() {
													EMPerror3.innerText = "Wrong Password / User does not exist"
												}
												setTimeout(test, 200)
											}
											else
												EMPerror3.innerText = ""
										}
									}
									function resetSessionInput() {
										var EMPerror1 = document.getElementById("EMPerror1")
										var EMPerror2 = document.getElementById("EMPerror2")
										var EMPerror3 = document.getElementById("EMPerror3")
										EMPerror1.innerText = ""
										EMPerror2.innerText = ""
										EMPerror3.innerText = ""
										$("#addSessionName").val("")
										$("#addSessionPass").val("")
									}
								</script>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" onclick="resetSessionInput()"data-dismiss="modal"> Cancel </button>
									<button type="button" class="btn btn-success" onclick="addSession()"> Confirm </button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<!-- End of Add Session Modal -->
				<!-- Start of Change Session Modal -->
				<div class="modal fade" id="ChangeSessionModal" tabindex="-1" role="dialog" aria-labelledby="ChangeSessionModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel"> Change </h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<h5>New Employee Name</h5>
								<input id="NewEMPName"class="text">
							</div>
							<div class="modal-body">
								<h5>Password</h5>
								<input type="password">
							</div>
							<div class="modal-body">
								<h5>Time (ex. 13:45)</h5>
								<input class="text">
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
								<button type="button" class="btn btn-success">Confirm</button>
							</div>
						</div>
					</div>
				</div>
				<!-- End of Change Session Modal -->
				<!-- Start of End Session Modal -->
				<div class="modal fade" id="endSessionModal" tabindex="-1" role="dialog" aria-labelledby="endSessionModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel"> End Session </h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						<div class="modal-body">
							This will end the session for the day.
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancel </button>
								<a href="/home/{{ACCType}}/Anonymous/{{DDate}}" class="btn btn-danger"> End </a>
						</div>
						</div>
					</div>
				</div>
				<!-- End of End Session Modal -->
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle rounded-top rounded-bottom navhover" id="AccountDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
						<i class="bi bi-person-badge-fill"> Account </i> 
					</a>
					<div class="dropdown-menu" aria-labelledby="AccountDropDown">
						{{#if_neq Session "Anonymous"}}
							{{#if_eq ACCType "ADMIN"}}
						<a class="dropdown-item" href="/management/{{ACCType}}/{{Session}}/{{DDate}}"> Management </a>
							{{else}}
							{{/if_eq}}
						{{else}}
						{{/if_neq}}
						<a class="dropdown-item" href="/login" data-toggle="modal" data-target="#LogOutModal"> Log Out </a>
				</li>
				<!-- Start of Log Out Modal -->
				<div class="modal fade" id="LogOutModal" tabindex="-1" role="dialog" aria-labelledby="LogOutModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Log out</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								Are you sure you want to log out?
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
								<a href="/" target="_self" class="btn btn-success btn-block" role="button">Confirm</a>
							</div>
						</div>
					</div>
				</div>
				<!-- End of Log Out Modal -->
				</ul>
			</div>
		</div>
	</nav>