<nav class="navbar navbar-expand-sm navbar-light">
      <div class = "container-fluid">
      <a href="#" class="navbar-brand">
         <img src="public/css/logo.jpg" alt="Dirty Treats Logo" width="50" height="50" class="d-inline-block align-middle"/>
             </a>
      <button
         class="navbar-toggler"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#toggleMobileMenu"
         aria-controls="toggleMobileMenu"
         aria-expanded="false"
         aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="toggleMobileMenu">
         <ul class="navbar-nav text-center">
            <li>
               <a class="nav-link active rounded-top rounded-bottom navhover"  href="/home/{{ACCType}}/{{DDate}}" style="color: black;"><i class="bi bi-house-fill" ></i> Home</a>
            </li>
            <li>
               <a class="nav-link rounded-top rounded-bottom navhover" href="/log/{{ACCType}}" style="color: black;"><i class="bi bi-journal-text" ></i> Log</a>
            </li>
            <li>
               <a class="nav-link rounded-top rounded-bottom navhover" href="/contacts/{{ACCType}}" style="color: black;"><i class="bi bi-cash-stack"></i> Balances</a>
            </li>

            <li>
              <a class="nav-link rounded-top rounded-bottom navhover" href="/inventory/{{ACCType}}" style="color: black;"><i class="bi bi-boxes" ></i> Inventory</a>
          </li>

         </ul>
         <ul class="navbar-nav ms-auto">
          <div class="px-3 font-monospace" style="font-size: 14px;">
            Current Session: Yeohan Norona
            <br>
            Type: <div id="navACCType">{{ACCType}}</div>
            </div>
          <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle rounded-top rounded-bottom navhover" id="SessionDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
                  <i class="bi bi-clock-fill"></i> Session
              </a>
              <div class="dropdown-menu" aria-labelledby="SessionDropDown">
                <a class="dropdown-item" href="addSessionModal" data-toggle="modal" data-target="#addSessionModal">Add Session</a>
                <a class="dropdown-item" href="endSessionModal" data-toggle="modal" data-target="#endSessionModal">End Session</a>
          </li>

          <!-- Start of Add Session Modal -->
         <div class="modal fade" id="addSessionModal" tabindex="-1" role="dialog" aria-labelledby="addSessionModalLabel" aria-hidden="true">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
               <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel">Add Session</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
               </div>
               <div class="modal-body col-12">
                 <h5>Employee Name</h5>
                 <input class="text">

               </div>

               <div class="modal-body">
                <h5>Password</h5>
                <input type="password">
              </div>


               <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                 <button type="button" class="btn btn-success">Confirm</button>
               </div>
             </div>
           </div>
         </div>
          <!-- End of Add Session Modal -->

          <!-- Start of Change Session Modal -->
         <div class="modal fade" id="ChangeSessionModal" tabindex="-1" role="dialog" aria-labelledby="ChangeSessionModalLabel" aria-hidden="true">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
               <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel">Change</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
               </div>
               <div class="modal-body">
                 <h5>New Employee Name</h5>
                 <input class="text">
               </div>

               <div class="modal-body">
                <h5>Password</h5>
                <input type="password">
              </div>

               <div class="modal-body">
                 <h5>Time (ex. 13:45)</h5>
                 <input class="text">
               </div>

               <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                 <button type="button" class="btn btn-success">Confirm</button>
               </div>
             </div>
           </div>
         </div>
          <!-- End of Change Session Modal -->

          <!-- Start of End Session Modal -->
         <div class="modal fade" id="endSessionModal" tabindex="-1" role="dialog" aria-labelledby="endSessionModalLabel" aria-hidden="true">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
               <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel">End Session</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
               </div>
               <div class="modal-body">
                 This will end the session for the day.
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                 <a href="login.html" class="btn btn-danger">End</a>
               </div>
             </div>
           </div>
         </div>
          <!-- End of End Session Modal -->
          <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle rounded-top rounded-bottom navhover" id="AccountDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
                  <i class="bi bi-person-badge-fill"></i> Account
              </a>
              <div class="dropdown-menu" aria-labelledby="AccountDropDown">
                <a class="dropdown-item" href="management.html">Management</a>
                <a class="dropdown-item" href="LogOutModal" data-toggle="modal" data-target="#LogOutModal">Log Out</a>
           </li>
            <!-- Start of Log Out Modal -->
         <div class="modal fade" id="LogOutModal" tabindex="-1" role="dialog" aria-labelledby="LogOutModalLabel" aria-hidden="true">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
               <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel">Log out</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
               </div>
               <div class="modal-body">
                 Are you sure you want to log out?
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                 <a href="/" target="_self" class="btn btn-success btn-block" role="button">Confirm</a>
               </div>
             </div>
           </div>
         </div>
          <!-- End of Log Out Modal -->
          </ul>


      </div>
   </div>
   </nav>