{{>header}}

    <!-- Cart -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10"><h3 class="text-left mt-3 mb-3">Contacts</h3></div>
        <!-- Page Header -->
        <div class="col-md-1 mt-3 editsales">
          Enable Payments:
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>
        </div>
        <!-- Table Cart -->
        <!-- Header -->
        <div class="col-md-12">
          <table class="table text-center table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Balance</th>
                <th scope="col">Date</th>
                <th scope="col">Payment</th>
              </tr>
            </thead>

            <!-- Table Body -->
            <tbody>
              {{#each this.entry}}
              <tr>
                <div id = "BAL_ID" hidden>{{this._id}}</div>
                <td><input type="text" id="NAMEField"  name="NAMEField" class = "text-center" size = "30" value = "{{this.Name}}" readonly></td>
                <td><input type="text" id="PHONEField" name="PHONEField" class = "text-center" size = "30" value = "{{this.PhoneNum}}" readonly></td>
                <td><input type="tel" id="BALField" name="BALField"  class = "text-center" size = "7" value = "{{this.Balance}}" readonly></td>
                <td><input type="text" id="DATEField"  name="DATEField" class = "text-center" size = "17" value = "{{this.DDate}}" readonly></td>
                <td><input type="tel" id="PAYMENTField" name="PAYMENTField" class = "text-center" size = "7" value = "0" ></td>
              </tr>
              {{/each}}
            </tbody>
            <!-- End of Table Body -->

          </table>
          <!-- End of Table -->
        </div>

        

      </div>
    </div>
    <!-- End of Container -->
      










    <!-- JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <!-- Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
      integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>


