<body>
{{> header}}
    <div class="container-fluid">
        <div class="row">
            {{#if_neq Session "Anonymous"}}
            <div class="col-md-1 mt-3">
                <button class="btn btn-primary" data-toggle="modal" data-target="#salesBtn">Add Sales</button>
            </div>
            {{else}}
            {{/if_neq}}
            {{#if_neq Session "Anonymous"}}
                {{#if_eq ACCType "ADMIN"}}
            <div class='col-md-1 mt-3'>
                <button class='btn btn-primary' data-toggle="modal" data-target="#editPrice">Edit Price</button>
            </div>
                {{else}}
                {{/if_eq}}
            {{else}}
            {{/if_neq}}
            <div class="col-md-8 ml-5">
                <div id ="hiddenDate" hidden>{{DDate}}</div>
                <div id ="hiddenAcc" hidden>{{ACCType}}</div>
                <div id ="hiddenSes" hidden>{{Session}}</div>
                {{#if_eq Session "Anonymous"}}
                <div style="padding-bottom: 70px;"> </div>
                {{else}}
                <div style="padding-top: 50px;"> </div>
                {{/if_eq}}
                <h3 class="text-center mt-3 mb-3 col-10 align-center">
                    <form id = "THEDATEFORM" method="post" action="">
                    <div id="THEDATE"> </div>
                        <button id="prevDatebtn" form="THEDATEFORM" class="btn btn-outline-primary">
                            <i class="bi bi-caret-left-fill"></i>
                        </button> {{DDate}} 
                        <button id="nextDatebtn" form="THEDATEFORM" class="btn btn-outline-primary">
                            <i class="bi bi-caret-right-fill"></i>
                        </button> 
                    </form>
                </h3> 
                {{#if_neq Session "Anonymous"}}
                <div style="padding-bottom: 70px;"> </div>
                {{else}}
                <div style="padding-top: 50px;"> </div>
                {{/if_neq}}
            </div>
            {{#if_neq Session "Anonymous"}}
            <div class="col-sm-1 mt-3 editsales " style="margin-left: 120px; min-width: 120px; max-width: 120px;"> Edit Sales:
                <label class="switch" name="enableEdit" id="enableEdit">
                    <input type="checkbox" id="editboxcheck">
                    <span class="slider round"></span>
                </label>
            </div>
            {{else}}
            {{/if_neq}}

        </div>
        <script>
            $("#nextDatebtn").click((event) => {
                var DDate = $('#hiddenDate').text()
                var ACCType = $('#hiddenAcc').text()
                var Session = $('#hiddenSes').text()
                var newDate = new Date(DDate)
                newDate.setDate(newDate.getDate() + 1) 
                DDate = newDate.toISOString().split('T')[0];

                document.getElementById("THEDATEFORM").setAttribute("action", "/new/" + ACCType + "/" + Session + "/" + DDate)
                document.getElementById("THEDATEFORM").submit()
            });

            $("#prevDatebtn").click((event) => {
                var DDate = $('#hiddenDate').text()
                var ACCType = $('#hiddenAcc').text()
                var Session = $('#hiddenSes').text()
                var newDate = new Date(DDate)
                newDate.setDate(newDate.getDate() - 1) 
                var LastDate = newDate.toISOString().split('T')[0];
    
                document.getElementById("THEDATEFORM").setAttribute("action", "/new/" + ACCType + "/" + Session + "/" + LastDate)
                document.getElementById("THEDATEFORM").submit()
            });

        </script>

            <!--model for editPrice-->
        <div class="modal fade" id="editPrice" tabindex="-1" role="dialog" aria-labelledby="salesModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Price</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="resetEdit()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" action="/edit" id="editSaleForm" >
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div hidden> {{ACCType}} </div>
                                <div class="row">
                                    <div class="col-md-4 ml-auto" >Thin Wash</div>
                                    <div class="col-md-8 ml-auto">
                                        <input type="tel" class="EDITSALES_INPUTidentifier" name="ETNWPrice" id="ETNWPrice" onkeypress="return /[0-9]/i.test(event.key)" value="{{object.TNWPrice}}">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-4 ml-auto">Thin Dry</div>
                                    <div class="col-md-8 ml-auto">
                                        <input type="tel" class="EDITSALES_INPUTidentifier" name="ETNDPrice" id="ETNDPrice" onkeypress="return /[0-9]/i.test(event.key)" value="{{object.TNDPrice}}">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-4 ml-auto" >Thick Wash</div>
                                    <div class="col-md-8 ml-auto">
                                        <input type="tel" class="EDITSALES_INPUTidentifier" name="ETKWPrice" id="ETKWPrice" onkeypress="return /[0-9]/i.test(event.key)" value="{{object.TKWPrice}}">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-4 ml-auto">Thick Dry</div>
                                    <div class="col-md-8 ml-auto">
                                        <input type="tel" class="EDITSALES_INPUTidentifier" name="ETKDPrice" id="ETKDPrice" onkeypress="return /[0-9]/i.test(event.key)" value="{{object.TKDPrice}}">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-4 ml-auto">Fold</div>
                                    <div class="col-md-8 ml-auto">
                                        <input type="tel" class="EDITSALES_INPUTidentifier" name="EFOLDPrice" id="EFOLDPrice" onkeypress="return /[0-9]/i.test(event.key)" value="{{object.FOLDPrice}}">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-4 ml-auto">Soap</div>
                                    <div class="col-md-8 ml-auto">
                                        <input type="tel" class="EDITSALES_INPUTidentifier" name="ESOAPPrice" id="ESOAPPrice" onkeypress="return /[0-9]/i.test(event.key)" value="{{object.SOAPPrice}}">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-4 ml-auto">Downy</div>
                                    <div class="col-md-8 ml-auto">
                                        <input type="tel" class="EDITSALES_INPUTidentifier" name="EDOWNPrice" id="EDOWNPrice" onkeypress="return /[0-9]/i.test(event.key)" value="{{object.DOWNPrice}}">
                                    </div>
                                </div>
                                <div class="row mt-2">           
                                
                                    <button class="col-3 text-right btn btn-danger ml-4" onclick="resetEdit()" data-dismiss="modal">Cancel</button>
                                    <div class="col-1"></div>
                                    <button class="col-3 text-right btn btn-success" form="editSaleForm" target="_self">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>          

    <!--modal for Add Sales-->
    <div hidden> 
        <div  id="TNWPrice"  name ="TNWPrice"> {{object.TNWPrice}}</div>
        <div  id="TNDPrice"  name="TNDPrice" >{{object.TNDPrice}}</div>
        <div  id="TKWPrice"  name="TKWPrice" >{{object.TKWPrice}}</div>
        <div  id="TKDPrice"  name="TKDPrice" >{{object.TKDPrice}}</div>
        <div  id="FOLDPrice" name="FOLDPrice" >{{object.FOLDPrice}}</div>
        <div  id="SOAPPrice" name="SOAPPrice">{{object.SOAPPrice}}</div>
        <div  id="DOWNPrice" name="DOWNPrice">{{object.DOWNPrice}}</div>
    </div>

    <div class="modal fade" id="salesBtn" tabindex="-1" role="dialog" aria-labelledby="salesModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">            
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Sales</h5>
                    <button type="button" onclick="xAddSale()" class="close" id="xAddSalebtn" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>         
                <div class="modal-body">
                    <div class="container-fluid" id="ADDSalesID">
                        <form method="post" action="/home/{{ACCType}}/{{Session}}/{{DDate}}" id="addSaleForm">
                        <div class="row">
                            <div class="col-md-4">
                                <p>Name</p>
                            </div>
                            <div class="col-md-8 ml-auto">
                                <input type="text" id="ADDName" name="ADDName"> 
                                <br/>
                                <span id="errorname1" style="color: red;"></span>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-md-4 ml-auto" >Phone</div>
                            <div class="col-md-8 ml-auto">
                                <input onkeypress="return /[0-9]/i.test(event.key)" type="text" id="ADDPhone" name="ADDPhone"> 
                                <br/>
                                <span id="errorname2" style="color: red;"></span>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-4 ml-auto" >Thin Wash</div>
                            <div class="col-md-8 ml-auto">
                                <input class="ADDSALES_INPUTidentifier" onkeypress="return /[0-9]/i.test(event.key)" type="tel" size="4" id="ADDThinW" name="ADDThinW">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-4 ml-auto">Thin Dry</div>
                            <div class="col-md-8 ml-auto">
                                <input class="ADDSALES_INPUTidentifier" onkeypress="return /[0-9]/i.test(event.key)" type="tel" size="4" id="ADDThinD" name="ADDThinD">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-4 ml-auto">Thick Wash</div>
                            <div class="col-md-8 ml-auto">
                                <input class="ADDSALES_INPUTidentifier" onkeypress="return /[0-9]/i.test(event.key)" type="tel" size="4" id="ADDThickW"  name="ADDThickW">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-4 ml-auto">Thick Dry</div>
                            <div class="col-md-8 ml-auto">
                                <input class="ADDSALES_INPUTidentifier" onkeypress="return /[0-9]/i.test(event.key)"  type="tel" size="4" id="ADDThickD" name="ADDThickD">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-4 ml-auto"  >Fold</div>
                            <div class="col-md-8 ml-auto">
                                <input class="ADDSALES_INPUTidentifier" onkeypress="return /[0-9]/i.test(event.key)" type="tel" size="4" id="ADDFold" name="ADDFold">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-4 ml-auto" >Soap</div>
                            <div class="col-md-8 ml-auto">
                                <input class="ADDSALES_INPUTidentifier" onkeypress="return /[0-9]/i.test(event.key)"  type="tel" size="4" id="ADDSoap" name="ADDSoap">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-4 ml-auto">Downy</div>
                            <div class="col-md-8 ml-auto">
                                <input class="ADDSALES_INPUTidentifier" onkeypress="return /[0-9]/i.test(event.key)" type="tel" size="4" id="ADDDowny" name="ADDDowny">
                            </div>
                            <span id="errorname3" style="color: red; padding-top:5px;"></span>
                        </div>
                        <div class="row mt-3" style="padding-top: 5px;">
                            <div class="col-md ml-auto">Total Price: </div>
                            <div class="col-md-8 ml-auto">  
                                <input  type="number" size="4" id="ADDTotalPriceR" name="ADDTotalPriceR" value="0" readonly>
                            </div>   
                            
                        </div>
                        <div class="row mt-2" style="padding-bottom: 10px;">
                            <div class="col-md-4 ml-auto">Amount Paid: </div>
                            <div class="col-md-8 ml-auto" >
                                <input type="number" size="4" onkeypress="return /[0-9]/i.test(event.key)" id="ADDAmountPaid" name="ADDAmountPaid" value="0" max="0">
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 5px;">
                            <div class="col-md ml-auto" >Balance: </div>
                            <div class="col-md-8 ml-auto">
                                <input  type="number" size="4" id="ADDBalanceR" name="ADDBalanceR" value="0" readonly>
                            </div>
                        </div>
                        <script>
                            $('#addSaleForm').submit(function(event) {
                                event.preventDefault(); 
                                var form = document.getElementById('addSaleForm');
                                var firstName = document.getElementById('ADDName');
                                var phone = document.getElementById('ADDPhone');
                                var errorMessage1 = document.getElementById('errorname1');
                                var errorMessage2 = document.getElementById('errorname2');
                                var errorMessage3 = document.getElementById('errorname3');
                                var totalpay = document.getElementById('ADDTotalPriceR');
                                var pass1 = 1;
                                var pass2 = 1;
                                if ((firstName.value === '' || !firstName.value.length) && (phone.value === '' || !phone.value.length)) {
                                        errorMessage1.innerText = 'Error! No Name Entered!';
                                        errorMessage2.innerText = 'Error! No Phone Number Entered!';
                                        pass1 = 0
                                } 
                                if (parseInt(totalpay.value) === 0 || totalpay.value === "" || isNaN(parseInt(totalpay.value))) {
                                        errorMessage3.innerText = 'Not a single form of sale was inputted! Input needed.';
                                        pass2 = 0
                                } 
                                if (pass1) {
                                    errorMessage1.innerText = '';
                                    errorMessage2.innerText = '';
                                }
                                if (pass2) {
                                    errorMessage3.innerText = '';         
                                }
                                if (pass1 && pass2) {  
                                    errorMessage1.innerText = '';
                                    errorMessage2.innerText = '';
                                    errorMessage3.innerText = '';  
                                    $(this).unbind('submit').submit();

                                }
                            })
                        function resetEdit()
                        {
                            document.location.reload()
                        }
                        function xAddSale() {
                            var errorMessage1 = document.getElementById('errorname1');
                            var errorMessage2 = document.getElementById('errorname2');
                            var errorMessage3 = document.getElementById('errorname3');
                            errorMessage1.innerText = '';
                            errorMessage2.innerText = '';
                            errorMessage3.innerText = '';  
                            $(".ADDSALES_INPUTidentifier").each(function(index, element) {
                            $("#ADDName").val("") 
                            $("#ADDPhone").val("") 
                            $("#ADDAmountPaid").val(0)
                            $("#ADDTotalPriceR").val(0) 
                            $("#ADDBalanceR").val(0) 
                            })
                        }
                        $(document).ready(function() {
                            $("#ADDName").keydown(function(event) {
                                var inputValue = event.which;
                                if(!(inputValue >= 65 && inputValue <= 122) && (inputValue != 32 && inputValue != 0 && inputValue != 8))
                                    event.preventDefault(); 
                            });
                        });
                        $(".ADDSALES_INPUTidentifier").on("change paste keyup cut", function() {

                            var TNWPrice = parseInt($("#TNWPrice").text())
                            var TNDPrice =parseInt($("#TNDPrice").text())
                            var TKWPrice =parseInt($("#TKWPrice").text())
                            var TKDPrice =parseInt($("#TKDPrice").text())
                            var FOLDPrice =parseInt($("#FOLDPrice").text())
                            var SOAPPrice =parseInt($("#SOAPPrice").text())
                            var DOWNPrice =parseInt($("#DOWNPrice").text())
                            var TNWQty = parseInt($("#ADDThinW").val())
                            var TNDQty = parseInt($("#ADDThinD").val())
                            var TKWQty = parseInt($("#ADDThickW").val())
                            var TKDQty = parseInt($("#ADDThickD").val())
                            var FOLDQty = parseInt($("#ADDFold").val())
                            var SOAPQty = parseInt($("#ADDSoap").val())
                            var DOWNQty = parseInt($("#ADDDowny").val())
                            var BALQty = parseInt($("#ADDBalanceR").val())

                            if (isNaN(TNWQty))
                                TNWQty = 0
                            else
                                $("#ADDThinW").val(TNWQty)
                            if (isNaN(TNDQty))
                                TNDQty = 0
                            else
                                $("#ADDThinD").val(TNDQty)
                            if (isNaN(TKWQty))
                                TKWQty = 0
                            else
                                $("#ADDThickW").val(TKWQty)
                            if (isNaN(TKDQty))
                                TKDQty = 0
                            else
                                $("#ADDThickD").val(TKDQty)    
                            if (isNaN(FOLDQty))
                                FOLDQty = 0
                            else
                                $("#ADDFold").val(FOLDQty)    
                            if (isNaN(SOAPQty))
                                SOAPQty = 0
                            else
                                $("#ADDSoap").val(SOAPQty)    
                            if (isNaN(DOWNQty))
                                DOWNQty = 0
                            else
                                $("#ADDDowny").val(DOWNQty)    
                            if (isNaN(BALQty))
                                $("#ADDBalanceR").val(0)
                            
                            var computation = TNWPrice * TNWQty + TNDPrice * TNDQty +  TKWPrice * TKWQty +  TKDPrice * TKDQty +  FOLDPrice * FOLDQty + SOAPPrice * SOAPQty + DOWNPrice * DOWNQty  
                            document.getElementById("ADDAmountPaid").setAttribute("max", computation)
                            $("#ADDTotalPriceR").val(computation);
                            $("#ADDBalanceR").val( $("#ADDTotalPriceR").val() - $("#ADDAmountPaid").val()) 
                        });

                        $("#ADDAmountPaid").on("change paste keyup cut", function() {
                            var amtpaid =  parseInt($("#ADDAmountPaid").val())
                            var total = $("#ADDTotalPriceR").val()
                            if (isNaN(amtpaid))
                                $("#ADDAmountPaid").val(0)
                            else if ( total < amtpaid)
                                $("#ADDAmountPaid").val(total)
                            else
                                $("#ADDAmountPaid").val(amtpaid)
                            $("#ADDBalanceR").val( $("#ADDTotalPriceR").val() - $("#ADDAmountPaid").val()) 

                        });

                        </script>

                        <div class="row mt-2">
                            <button class="col-3 text-right btn btn-danger" onclick="xAddSale()" data-dismiss="modal" id="cancelAddSalebtn">Cancel</button>
                            <div class="col-1"></div>
                            <button class="col-3 text-right btn btn-success ml-2" form="addSaleForm" target="_self">Confirm</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <table class="table text-center table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Thin Wash</th>
                    <th scope="col">Thin Dry</th>
                    <th scope="col">Thick Wash</th>
                    <th scope="col">Thick Dry</th>
                    <th scope="col">Fold</th>
                    <th scope="col">Soap</th>
                    <th scope="col">Downy</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Amount Paid</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Token Error</th>
                    <th scope="col">Phone Number</th>
                </tr>
            </thead>
                <!-- Table Body -->
            <tbody>
                {{#if this.entry}}
                {{#each this.entry}}

                    <tr id="FinancialEntry" name="FinancialEntry">
                        <td hidden>
                            <input id="Entry_id" name="Entry_id" value="{{this.SalesID}}">{{this.SalesID}}</input>  
                        </td>      
                        <td>
                            <input  id ="NAMEField" name="NAMEField" class="INPUTFIELD_EDITidentifiers text-center" size="18" value="{{this.Name}}"readonly="true">  
                        </td>
                        <td>
                            <input  id ="TNWField" type="tel" onkeypress="return /[0-9]/i.test(event.key)" name="TNWField" class="INPUTFIELD_EDITidentifiers text-center" size="1" value="{{#if this.ThinWash}}{{this.ThinWash}}{{else}}0{{/if}}" readonly="true">  
                        </td>
                        <td>
                            <input  id ="TNDField" type="tel" onkeypress="return /[0-9]/i.test(event.key)" name="TNDField" class="INPUTFIELD_EDITidentifiers text-center" size="1" value="{{#if this.ThinDry}}{{this.ThinDry}}{{else}}0{{/if}}" readonly="true">  
                        </td>
                        <td>
                            <input  id ="TKWField" type="tel" onkeypress="return /[0-9]/i.test(event.key)" name="TKWField" class="INPUTFIELD_EDITidentifiers text-center" size="1" value="{{#if this.ThickWash}}{{this.ThickWash}}{{else}}0{{/if}}" readonly="true">  
                        </td>
                        <td>
                            <input  id ="TKDField" type="tel" onkeypress="return /[0-9]/i.test(event.key)"  name="TKDField" class="INPUTFIELD_EDITidentifiers text-center" size="1" value="{{#if this.ThickDry}}{{this.ThickDry}}{{else}}0{{/if}}" readonly="true">  
                        </td>
                        <td>
                            <input  id ="FOLDField" type="tel" onkeypress="return /[0-9]/i.test(event.key)"  name="FOLDField" class="INPUTFIELD_EDITidentifiers text-center" size="1" value="{{#if this.Fold}}{{this.Fold}}{{else}}0{{/if}}" readonly="true">  
                        </td>
                        <td>
                            <input  id ="SOAPField" type="tel" onkeypress="return /[0-9]/i.test(event.key)"  name="SOAPField" class="INPUTFIELD_EDITidentifiers text-center" size="1" value="{{#if this.Soap}}{{this.Soap}}{{else}}0{{/if}}" readonly="true">  
                        </td>
                        <td>
                            <input  id ="DOWNField" type="tel" onkeypress="return /[0-9]/i.test(event.key)" name="DOWNField" class="INPUTFIELD_EDITidentifiers text-center" size="1" value="{{#if this.Downy}}{{this.Downy}}{{else}}0{{/if}}" readonly="true"> 
                        </td>
                        <td width="100"> 
                            <input name="TTLField" type="number" style="width:80px"onkeypress="return /[0-9]/i.test(event.key)" id ="TTLField" class="INPUTFIELD_EDITidentifiers text-center" size="5" value="{{#if this.totalPrice}}{{this.totalPrice}}{{else}}0{{/if}}" readonly> 
                        </td>
                        <td width="100"> 
                            <input   name="AMTField"  type="number" style="width:80px" onkeypress="return /[0-9]/i.test(event.key)" id ="AMTField" class="INPUTFIELD_EDITidentifiers text-center" size="5" value="{{this.AmountPaid}}" max="0"readonly> 
                        </td>
                        <td width="100"> 
                            <input   name="BALField"  type="tel" id ="BALField" class="INPUTFIELD_EDITidentifiers text-center" size="5" value="{{this.Balance}}" readonly> 
                        </td>
                        <td>
                            <input id ="TOKENField"  type="tel" onkeypress="return /[0-9]/i.test(event.key)" name="TOKENField" class="INPUTFIELD_EDITidentifiers text-center" size="1" value ="{{#if this.Token}}{{this.Token}}{{else}}0{{/if}}" readonly="true"> 
                        </td>
                        <td>
                            <input id ="PHONEField" onkeypress="return /[0-9]/i.test(event.key)" type="text" class="INPUTFIELD_EDITidentifiers text-center" size="11" value="{{this.PhoneNumber}}" readonly="true">
                        </td>
                        {{#if_eq ../Session "Anonymous"}}
                        {{else}}
                        <td>  
                            <a class="btn btn-outline-danger ">
                                <i class="bi bi-trash" href="/delete" data-toggle="modal" data-target="#DeleteAccountModal"></i>
                            </a>
                        </td>
                        {{/if_eq}}
                    </tr>
                     <span id="WARNINGENTRY" style="color:red; padding-left:20px"> </span>
                    <span id="ERRORENTRY" style="color:red; padding-left:20px"> </span>
                    <span id="REMINDERENTRY" style="color:green; padding-top:10px; padding-left:20px"> </span>

                {{/each}}
                {{else}}
                <hr>
                    <h1 class="text-center"> No Recorded Entries </h1>
                <hr>
                {{/if}}
            </tbody>
            <script>    

                var DDate = $('#hiddenDate').text()
                var ACCType = $('#hiddenAcc').text()
                var Session = $('#hiddenSes').text()                 

                    $(document).ready(function() {
                        $("#NAMEField").keydown(function(event) {
                            var inputValue = event.which;
                            if(!(inputValue >= 65 && inputValue <= 122) && (inputValue != 32 && inputValue != 0 && inputValue != 8)) 
                                event.preventDefault(); 
                        });
                    });
                    var enable = document.getElementById("enableEdit");
                    if (enable != null) {
                        enable.addEventListener('change', e => {
                        if (e.target.checked) {
                            var els = document.querySelectorAll('.INPUTFIELD_EDITidentifiers.text-center');
                            var numRows = document.getElementsByName("FinancialEntry").length 
                            var j = 13
                            while (j <= (numRows * 12 + 1)) {
                                for (var i = 0; i < els.length; i++) {
                                    if (els[-3+(j)].getAttribute("value") >= 0 && (i+1) % (j-2) != 0)
                                        els[i].removeAttribute('readonly');

                                    if ((i+1)%13 == 0)
                                        j = j+13                          
                                }
                            }
                        }
                        else { 
                            var els = document.querySelectorAll('.INPUTFIELD_EDITidentifiers.text-center');   
                                for (var i=0; i < els.length; i++) 
                                    els[i].setAttribute("readOnly", true);
                            }
                        });
                    }
                    
                $('.btn.btn-outline-danger').click((event) => { 
                    var entry = event.currentTarget.parentElement.parentElement.children[0].children[0].value
                    var currentValue = parseInt(event.currentTarget.parentElement.parentElement.children[10].children[0].value)
                    var balances = parseInt(event.currentTarget.parentElement.parentElement.children[11].children[0].value)
                    var card = event.currentTarget.parentElement.parentElement.querySelector("#Entry_id").innerHTML
                    if (balances > 0)
                        document.getElementById("WARNINGENTRY").innerText = "You deleted an entry that has a remaining balance! Succeeding related payments will be DELETED upon refresh."
                    else 
                        document.getElementById("WARNINGENTRY").innerText = ""
                    $.get('/delete/' + ACCType + '/' + Session + '/' + DDate  , {_id : entry, Balance : currentValue}, function (result) {});
                    
                    

                    $(event.currentTarget.parentElement.parentElement).remove();
                    var a = b = c = d = e = f = g = h = i = j = k = 0
                    var numRows = document.getElementsByName("FinancialEntry").length 
                    if (numRows == 0) {
                        $("#TNWSum").val(0)
                        $("#TNDSum").val(0)
                        $("#TKWSum").val(0)
                        $("#TKDSum").val(0)
                        $("#FOLDSum").val(0)
                        $("#SOAPSum").val(0)
                        $("#DOWNSum").val(0)
                        $("#TTLSum").val(0)
                        $("#AMTSum").val(0)
                        $("#BALSum").val(0)
                        $("#TOKENSum").val(0)
                        }
                    for (z = 0; z <numRows; z++) {
                        a += parseInt(document.getElementsByName("TNWField")[z].value)
                        b += parseInt(document.getElementsByName("TNDField")[z].value)
                        c += parseInt(document.getElementsByName("TKWField")[z].value)
                        d += parseInt(document.getElementsByName("TKDField")[z].value)
                        e += parseInt(document.getElementsByName("FOLDField")[z].value)
                        f += parseInt(document.getElementsByName("SOAPField")[z].value)
                        g += parseInt(document.getElementsByName("DOWNField")[z].value)
                        h += parseInt(document.getElementsByName("TTLField")[z].value)
                        i += parseInt(document.getElementsByName("AMTField")[z].value)
                        j += parseInt(document.getElementsByName("BALField")[z].value)
                        k += parseInt(document.getElementsByName("TOKENField")[z].value)
                        $("#TNWSum").val(a)
                        $("#TNDSum").val(b)
                        $("#TKWSum").val(c)
                        $("#TKDSum").val(d)
                        $("#FOLDSum").val(e)
                        $("#SOAPSum").val(f)
                        $("#DOWNSum").val(g)
                        $("#TTLSum").val(h)
                        $("#AMTSum").val(i)
                        $("#BALSum").val(j)
                        $("#TOKENSum").val(k)
                    }
                }
                );
                </script>   

            <tr>
                <td>Total: </td>
                <td> 
                    <input  id ="TNWSum" class="text-center ADDSALES_EDITidentifier" size="1" value="0" readonly>
                </td>
                <td> 
                    <input  id ="TNDSum" class="text-center ADDSALES_EDITidentifier" size="1" value="0" readonly>
                </td>
                <td> 
                    <input  id ="TKWSum" class="text-center ADDSALES_EDITidentifier" size="1" value="0" readonly>
                </td>
                <td> 
                    <input  id ="TKDSum" class="text-center ADDSALES_EDITidentifier" size="1" value="0" readonly>
                </td>
                <td> 
                    <input  id ="FOLDSum" class="text-center ADDSALES_EDITidentifier" size="1" value="0" readonly>
                </td>
                <td> 
                    <input  id ="SOAPSum" class="text-center ADDSALES_EDITidentifier" size="1" value="0" readonly>
                </td>
                <td> 
                    <input  id ="DOWNSum" class="text-center ADDSALES_EDITidentifier" size="1" value="0" readonly>
                </td>
                <td> 
                    <input  id ="TTLSum" class="text-center ADDSALES_EDITidentifier" size="5" value="0" readonly>
                </td>
                <td> 
                    <input  id ="AMTSum" class="text-center ADDSALES_EDITidentifier" size="5" value="0" readonly>
                </td>
                <td> 
                    <input  id ="BALSum" class="text-center ADDSALES_EDITidentifier" size="5" value="0" readonly>
                </td>
                <td> 
                    <input  id ="TOKENSum" class="text-center ADDSALES_EDITidentifier" size="1" value="0" readonly>
                </td>
            </tr>
                <!-- End of Table Body -->
        </table>
        <script>
        $("#NAMEField.INPUTFIELD_EDITidentifiers.text-center").on("focus", function(event) { 
            var temp = this.parentElement.parentElement.children[1].children[0].value
            var isChecked = document.getElementById("editboxcheck").checked
            
            document.getElementById("WARNINGENTRY").innerText = ""
            if ((temp === "" || temp === "No Name") && isChecked && this.parentElement.parentElement.children[11].children[0].value >= 0)
                this.parentElement.parentElement.children[1].children[0].value = ""
        })
        $("#PHONEField.INPUTFIELD_EDITidentifiers.text-center").on("focus", function(event) { 
            var temp = this.parentElement.parentElement.children[13].children[0].value
            var isChecked = document.getElementById("editboxcheck").checked
            document.getElementById("WARNINGENTRY").innerText = ""
            if ((temp === "" || temp === "No Number") && isChecked && this.parentElement.parentElement.children[11].children[0].value >= 0)
                this.parentElement.parentElement.children[13].children[0].value = ""
        })
        $("#PHONEField.INPUTFIELD_EDITidentifiers.text-center").on("blur", function(event) { 
            var temp = this.parentElement.parentElement.children[13].children[0].value
            document.getElementById("WARNINGENTRY").innerText = ""
            if (temp === "")
                this.parentElement.parentElement.children[13].children[0].value = "No Number"
        })
        $("#PHONEField.INPUTFIELD_EDITidentifiers.text-center").on("blur", function(event) { 
            var temp = this.parentElement.parentElement.children[1].children[0].value
            document.getElementById("WARNINGENTRY").innerText = ""
            if (temp === "")
                this.parentElement.parentElement.children[1].children[0].value = "No Name"
        })
        $("#PHONEField.INPUTFIELD_EDITidentifiers.text-center").on("change keyup cut paste", function(event) { 
            var remind = document.getElementById("REMINDERENTRY")
            var isChecked = document.getElementById("editboxcheck").checked
            if (isChecked && this.parentElement.parentElement.children[11].children[0].value >= 0)
                remind.innerText = "Reminder: Press the ENTER Key in either Name or Phone fields to save their changes"
        })
        $("#NAMEField.INPUTFIELD_EDITidentifiers.text-center").on("change keyup cut paste", function(event) { 
            var remind = document.getElementById("REMINDERENTRY")
            var isChecked = document.getElementById("editboxcheck").checked
            if (isChecked && this.parentElement.parentElement.children[11].children[0].value >= 0)
                remind.innerText = "Reminder: Press the ENTER Key in either Name or Phone fields to save their changes"
        })

        $(".INPUTFIELD_EDITidentifiers.text-center").on("change keyup", function(event) { 
            var BalanceCheck = parseInt(this.parentElement.parentElement.children[11].children[0].value)
             document.getElementById("WARNINGENTRY").innerText = ""
             var isChecked = document.getElementById("editboxcheck").checked
            if (BalanceCheck >= 0 && isChecked) {

                var id = this.parentElement.parentElement.children[0].children[0].value
                var Name = this.parentElement.parentElement.children[1].children[0].value
                Name = Name.replace(/^\s+|\s+$/g, "").replace(/\s+/g, " ");
                                    
                var TNWQty = parseInt(this.parentElement.parentElement.children[2].children[0].value)
                var TNDQty = parseInt(this.parentElement.parentElement.children[3].children[0].value)
                var TKWQty = parseInt(this.parentElement.parentElement.children[4].children[0].value)
                var TKDQty = parseInt(this.parentElement.parentElement.children[5].children[0].value)
                var FOLDQty = parseInt(this.parentElement.parentElement.children[6].children[0].value)
                var SOAPQty = parseInt(this.parentElement.parentElement.children[7].children[0].value)
                var DOWNQty = parseInt(this.parentElement.parentElement.children[8].children[0].value)
                var payment = parseInt(this.parentElement.parentElement.children[10].children[0].value)
                var Token = parseInt(this.parentElement.parentElement.children[12].children[0].value)
                var Phone = this.parentElement.parentElement.children[13].children[0].value
                var TNWPrice = parseInt($("#TNWPrice").text())
                var TNDPrice =parseInt($("#TNDPrice").text())
                var TKWPrice =parseInt($("#TKWPrice").text())
                var TKDPrice =parseInt($("#TKDPrice").text())
                var FOLDPrice =parseInt($("#FOLDPrice").text())
                var SOAPPrice =parseInt($("#SOAPPrice").text())
                var DOWNPrice =parseInt($("#DOWNPrice").text())
                var remind = document.getElementById("REMINDERENTRY")
                
                if (isNaN(TNWQty) || TNWQty === "") {
                    this.parentElement.parentElement.children[2].children[0].value = 0
                    TNWQty = 0
                }
                else {
                    this.parentElement.parentElement.children[2].children[0].value = TNWQty
                }
                    
                if (isNaN(TNDQty)) { 
                    this.parentElement.parentElement.children[3].children[0].value = 0
                    TNDQty = 0
                }
                else {
                    this.parentElement.parentElement.children[3].children[0].value = TNDQty
                }
                if (isNaN(TKWQty)) {
                    this.parentElement.parentElement.children[4].children[0].value = 0
                    TKWQty = 0
                }
                else {
                    this.parentElement.parentElement.children[4].children[0].value = TKWQty
                }
                if (isNaN(TKDQty)) {
                    this.parentElement.parentElement.children[5].children[0].value = 0
                    TKDQty = 0
                    }
                else {
                    this.parentElement.parentElement.children[5].children[0].value = TKDQty
                }
                if (isNaN(FOLDQty)) {
                    this.parentElement.parentElement.children[6].children[0].value = 0
                    FOLDQty = 0
                }
                else {
                    this.parentElement.parentElement.children[6].children[0].value = FOLDQty
                }
                if (isNaN(SOAPQty)) {  
                    this.parentElement.parentElement.children[7].children[0].value = 0
                    SOAPQty = 0
                }
                else {
                    this.parentElement.parentElement.children[7].children[0].value = SOAPQty
                }
                if (isNaN(DOWNQty)) {
                    this.parentElement.parentElement.children[8].children[0].value = 0
                    DOWNQty = 0
                }
                else {
                    this.parentElement.parentElement.children[8].children[0].value = DOWNQty
                }
                if (isNaN(payment)) {
                    this.parentElement.parentElement.children[10].children[0].value = 0
                    payment = 0
                }
                else {
                    this.parentElement.parentElement.children[10].children[0].value = payment
                }
                if (isNaN(Token))   {
                    this.parentElement.parentElement.children[12].children[0].value = 0
                    Token = 0
                }
                else {
                    this.parentElement.parentElement.children[12].children[0].value = Token
                }
                if (!(event.keyCode === "08" || (event.keyCode >= "48" && event.keyCode <= "57")) && (Phone === null || Phone === "" || Phone === "No Number") && (Name != null || Name != "" || Name != "No Name") && event.keyCode == "13") {
                    this.parentElement.parentElement.children[13].children[0].value = "No Number"

                    Phone = "No Number"
                }

                if (!(event.keyCode == "08"  || (event.keyCode >= "a" && event.keyCode <= "z") || (event.keyCode >= "A" || event.keyCode <= "Z")) && (Name === null || Name === "") && (Phone != null || Phone != "" || Phone != "No Number") && event.keyCode == "13") {
                        this.parentElement.parentElement.children[1].children[0].value = "No Name"
                        Name = "No Name"
                }

                var temp = Name 
                temp = temp.replace(/\s/g, "")
                if (!(Phone === "No Number" || Phone === ""))
                    if (temp === "NoName" && !(event.keyCode == "08"  || (event.keyCode >= "a" || event.keyCode <= "z"))) {
                        this.parentElement.parentElement.children[1].children[0].value = "No Name"
                        Name = "No Name"
                }
                var computation = TNWPrice * TNWQty + TNDPrice * TNDQty +  TKWPrice * TKWQty +  TKDPrice * TKDQty +  FOLDPrice * FOLDQty + SOAPPrice * SOAPQty + DOWNPrice * DOWNQty  
                this.parentElement.parentElement.children[9].children[0].value = computation
                this.parentElement.parentElement.children[10].children[0].max = computation
                if (computation < payment) {
                    payment = computation
                    this.parentElement.parentElement.children[10].children[0].value =  payment
                }
                var totalPayment = parseInt(this.parentElement.parentElement.children[9].children[0].value)
                this.parentElement.parentElement.children[11].children[0].value = this.parentElement.parentElement.children[9].children[0].value - this.parentElement.parentElement.children[10].children[0].value
                var Balance = parseInt(this.parentElement.parentElement.children[11].children[0].value)
                var ACCType = $("#ULTIMATEhiddenacc").text()
                var Session = $("#ULTIMATEhiddenses").text() 
                var DDate = $("#ULTIMATEhiddendate").text()
                var obj = {
                    id : id,
                    //Phone : Phone, 
                    TNWQty : TNWQty,
                    TNDQty : TNDQty, 
                    TKWQty : TKWQty,
                    TKDQty : TKDQty,
                    FOLDQty : FOLDQty, 
                    SOAPQty : SOAPQty, 
                    DOWNQty : DOWNQty,
                    AmountPaid : payment,
                    TotalPrice : computation,
                    Balance : Balance,
                    Token : Token
                }
                if (event.keyCode === 13 && ((Name != "" && Name != "No Name") && (Phone === "" || Phone === "No Number"))) {
                    obj["Name"] = Name
                    obj["Phone"] = "No Number"
                    obj["eventkey"] = "LIFE"
                    this.parentElement.parentElement.children[13].children[0].blur()
                    this.parentElement.parentElement.children[1].children[0].blur()
                    this.parentElement.parentElement.children[1].children[0].value = Name
                    remind.innerText = ""
                    
                }
                else if (event.keyCode === 13 && ((Name === "" || Name === "No Name") && (Phone != "" && Phone != "No Number"))) {
                    obj["Phone"] = Phone
                    obj["Name"] = "No Name"
                    obj["eventkey"] = "LIFE"
                    this.parentElement.parentElement.children[1].children[0].blur()
                    this.parentElement.parentElement.children[13].children[0].blur()
                    this.parentElement.parentElement.children[1].children[0].value = Name
                    remind.innerText = ""

                }
                else if (event.keyCode === 13 && ((Name != "" && Name != "No Name") && (Phone != "" && Phone != "No Number"))) {
                    obj["Name"] = Name
                    obj["Phone"] = Phone
                    obj["eventkey"] = "LIFE"
                    remind.innerText = ""
                    this.parentElement.parentElement.children[1].children[0].blur()
                    this.parentElement.parentElement.children[13].children[0].blur()
                    this.parentElement.parentElement.children[1].children[0].value = Name

                }
                else {
                        obj["Name"] = Name
                        obj["Phone"] = Phone
                }
                var error = document.getElementById("ERRORENTRY")
                
                
                if ((Name === "" || Name === "No Name") && (Phone === "" || Phone === "No Number")) {
                    error.innerText = "Warning: One or more entries have no data on both Name and Phone Number. This will be reverted upon refresh."
                    remind.innerText = ""
                }
                    
                else {
                    error.innerText = ""
                }
                    
                $.post("/editEntry/" + ACCType + "/" + Session + "/" + DDate, obj, function(result){})
            }
            else {
                this.parentElement.parentElement.children[0].children[0].readOnly = true
                this.parentElement.parentElement.children[1].children[0].readOnly = true
                this.parentElement.parentElement.children[2].children[0].readOnly = true
                this.parentElement.parentElement.children[3].children[0].readOnly = true
                this.parentElement.parentElement.children[4].children[0].readOnly = true
                this.parentElement.parentElement.children[5].children[0].readOnly = true
                this.parentElement.parentElement.children[6].children[0].readOnly = true
                this.parentElement.parentElement.children[7].children[0].readOnly = true
                this.parentElement.parentElement.children[8].children[0].readOnly = true
                this.parentElement.parentElement.children[9].children[0].readOnly = true
                this.parentElement.parentElement.children[10].children[0].readOnly = true
                this.parentElement.parentElement.children[11].children[0].readOnly = true
                this.parentElement.parentElement.children[12].children[0].readOnly = true
                this.parentElement.parentElement.children[13].children[0].readOnly = true
            }
        })
        $(document).on("change paste keyup cut select", function() { 
            var a = b = c = d = e = f = g = h = i = j = k = 0
            var numRows = document.getElementsByName("FinancialEntry").length 
            for (z = 0; z <numRows; z++) {
                a += parseInt(document.getElementsByName("TNWField")[z].value)
                b += parseInt(document.getElementsByName("TNDField")[z].value)
                c += parseInt(document.getElementsByName("TKWField")[z].value)
                d += parseInt(document.getElementsByName("TKDField")[z].value)
                e += parseInt(document.getElementsByName("FOLDField")[z].value)
                f += parseInt(document.getElementsByName("SOAPField")[z].value)
                g += parseInt(document.getElementsByName("DOWNField")[z].value)
                h += parseInt(document.getElementsByName("TTLField")[z].value)
                i += parseInt(document.getElementsByName("AMTField")[z].value)
                j += parseInt(document.getElementsByName("BALField")[z].value)
                k += parseInt(document.getElementsByName("TOKENField")[z].value)
                $("#TNWSum").val(a)
                $("#TNDSum").val(b)
                $("#TKWSum").val(c)
                $("#TKDSum").val(d)
                $("#FOLDSum").val(e)
                $("#SOAPSum").val(f)
                $("#DOWNSum").val(g)
                $("#TTLSum").val(h)
                $("#AMTSum").val(i)
                $("#BALSum").val(j)
                $("#TOKENSum").val(k)
            }
        })
    
        window.onload = function test () {
            var a = b = c = d = e = f = g = h = i = j = k = 0
            var numRows = document.getElementsByName("FinancialEntry").length 
            for (z = 0; z <numRows; z++) {
                a += parseInt(document.getElementsByName("TNWField")[z].value)
                b += parseInt(document.getElementsByName("TNDField")[z].value)
                c += parseInt(document.getElementsByName("TKWField")[z].value)
                d += parseInt(document.getElementsByName("TKDField")[z].value)
                e += parseInt(document.getElementsByName("FOLDField")[z].value)
                f += parseInt(document.getElementsByName("SOAPField")[z].value)
                g += parseInt(document.getElementsByName("DOWNField")[z].value)
                h += parseInt(document.getElementsByName("TTLField")[z].value)
                i += parseInt(document.getElementsByName("AMTField")[z].value)
                j += parseInt(document.getElementsByName("BALField")[z].value)
                k += parseInt(document.getElementsByName("TOKENField")[z].value)
                $("#TNWSum").val(a)
                $("#TNDSum").val(b)
                $("#TKWSum").val(c)
                $("#TKDSum").val(d)
                $("#FOLDSum").val(e)
                $("#SOAPSum").val(f)
                $("#DOWNSum").val(g)
                $("#TTLSum").val(h)
                $("#AMTSum").val(i)
                $("#BALSum").val(j)
                $("#TOKENSum").val(k)
            }
        }
        </script>
            <!-- End of Table -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"> </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"> </script>
</body>
