<body>      
    {{>header}}
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <div class="col-md-12">
        <table class="table text-center table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Add/Remove</th>
                </tr>
            </thead>
        <!-- Table Body -->
            <tbody>
                <tr>
                    <td width="200">Downy</td>
                    <td>{{DOWNPrice}}</td>
                    <td>
                        <div id="QTYFieldDowny">{{INVDowny}}</div>
                    </td>
                    <td>
                        {{#if_neq Session "Anonymous"}}
                            {{#if_eq ACCType "ADMIN"}}
                            <button id="DECDownybtn" class="btn btn-danger" data-toggle="modal" >
                                <i class="bi bi-dash"></i>
                            </button>
                            <input id="DOWNYinput" type="text" size="1" class="text-center" placeholder="Qty.">
                            <button id="INCDownybtn"class="btn btn-primary" data-toggle="modal">
                                <i class="bi bi-plus"></i>
                            </button>
                            {{else}}
                            <button id="INCDownybtn"class="btn btn-primary" data-toggle="modal">
                                <i class="bi bi-plus"></i>
                            </button>
                            {{/if_eq}}
                        {{else}}
                        {{/if_neq}}
                    </td>
                </tr>
                <tr>
                    <td width="200">Soap</td>
                    <td> {{SOAPPrice}} </td>
                    <td> 
                        <div id="QTYFieldSoap">{{INVSoap}}</div>
                    </td>
                    <td>
                        {{#if_neq Session "Anonymous"}}
                            {{#if_eq ACCType "ADMIN"}}
                            <button id="DECSoapbtn" class="btn btn-danger" data-toggle="modal" >
                                <i class="bi bi-dash"></i>
                            </button>
                            <input id="SOAPinput" type="text" size="1" class="text-center" placeholder="Qty.">
                            <button id="INCSoapbtn" class="btn btn-primary" data-toggle="modal">
                                <i class="bi bi-plus"></i>
                            </button>
                            {{else}}
                            <button id="INCSoapbtn" class="btn btn-primary" data-toggle="modal">
                                <i class="bi bi-plus"></i>
                            </button>
                            {{/if_eq}}
                        {{else}}
                        {{/if_neq}}
                    </td>
                </tr>
                <script>
                    var INVDowny = parseInt($("#QTYFieldDowny").text())
                    var INVSoap = parseInt($("#QTYFieldSoap").text())
                    var Session = $("#navSession").text()
                    var ACCType = $("#navACCType").text()
                    var DDate = $("#ULTIMATEhiddendate").text()

                    $("#INCDownybtn").click((event) => {
                        INVDowny = parseInt($("#QTYFieldDowny").text())
                        INVSoap = parseInt($("#QTYFieldSoap").text())
                        INVDowny = INVDowny + 1;
                        document.getElementById("QTYFieldDowny").innerText = INVDowny
                        $.post("/inventory/" + ACCType + "/" + Session + "/" + DDate, {INVDowny : INVDowny, INVSoap : INVSoap}, function (req, res) {})
                    })

                    $("#DECDownybtn").click((event) => {
                        INVDowny = parseInt($("#QTYFieldDowny").text())
                        INVSoap = parseInt($("#QTYFieldSoap").text())
                        INVDowny = INVDowny - 1;
                        document.getElementById("QTYFieldDowny").innerText = INVDowny
                        $.post("/inventory/" + ACCType + "/" + Session + "/" + DDate, {INVDowny : INVDowny, INVSoap : INVSoap}, function (req, res) {})
                    })

                    $("#DECSoapbtn").click((event) => {
                       INVDowny = parseInt($("#QTYFieldDowny").text())
                       INVSoap = parseInt($("#QTYFieldSoap").text())
                       INVSoap = INVSoap - 1;
                       document.getElementById("QTYFieldSoap").innerText = INVSoap
                      $.post("/inventory/" + ACCType + "/" + Session + "/" + DDate, {INVDowny : INVDowny, INVSoap : INVSoap}, function (req, res) {})
                    })

                    $("#INCSoapbtn").click((event) => {
                        INVDowny = parseInt($("#QTYFieldDowny").text())
                        INVSoap = parseInt($("#QTYFieldSoap").text())
                        INVSoap = INVSoap + 1;
                        document.getElementById("QTYFieldSoap").innerText = INVSoap
                      $.post("/inventory/" + ACCType + "/" + Session + "/" + DDate, {INVDowny : INVDowny, INVSoap : INVSoap}, function (req, res) {})
                    })

                    $("#SOAPinput").on("change", function () {
                        INVSoap = document.getElementById("SOAPinput").value
                        $("SOAPinput").val(INVSoap)
                        document.getElementById("QTYFieldSoap").innerText = INVSoap
                        $.post("/inventory/" + ACCType + "/" + Session + "/" + DDate, {INVDowny : INVDowny, INVSoap : INVSoap}, function (req, res) {})
                    })

                    $("#DOWNYinput").on("change", function () {
                        INVDowny = document.getElementById("DOWNYinput").value
                        $("DOWNYinput").val(INVDowny)
                        document.getElementById("QTYFieldDowny").innerText = INVDowny
                        $.post("/inventory/" + ACCType + "/" + Session + "/" + DDate, {INVDowny : INVDowny, INVSoap : INVSoap}, function (req, res) {})
                    })
                </script>
            </tbody>
            <!-- End of Table Body -->
          </table>
          <!-- End of Table -->
    </div>
</body>
