<body>
{{>header}}
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <form>
                    <div class="row mt-2">
                        <div class="col-5">
                            <select class="form-select" aria-label="SelectView">
                                <option selected value="YYYY">YYYY</option>
                                <option value="2021">2021</option>
                                <option value="2020">2020</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <select class="form-select" aria-label="SelectView">
                                <option selected value="MM">MM</option>
                                <option value="Jan">Jan</option>
                                <option value="Jan">Feb</option>
                                <option value="Jan">Mar</option>
                                <option value="Jan">Apr</option>
                                <option value="Jan">May</option>
                                <option value="Jan">Jun</option>
                                <option value="Jan">Jul</option>
                                <option value="Jan">Aug</option>
                                <option value="Jan">Sept</option>
                                <option value="Jan">Oct</option>
                                <option value="Jan">Nov</option>
                                <option value="Jan">Dec</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="DD">
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav text-center">     
                    <table class="table text-center table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" class="btn date-drawer">2021-01-01</th>
                            </tr>
                            <tr>
                                <th scope="col" class="btn date-drawer">2021-01-02</th>
                            </tr>
                        </thead>
                    </table>                       
                </ul>
                <br>
                <nav aria-label="PageNav">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link page" href="#" aria-label="Previous">
                                <i class="bi bi-chevron-left"></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link page" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link page" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link page" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link page" href="#">N</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link page" href="#" aria-label="Next">
                                <span aria-hidden="true">
                                    <i class="bi bi-chevron-right"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-10">
                <h4>
                    <small> DAILY REPORT (YYYY/MM/DD) </small>
                </h4>
                <div class="col-md-12">
                    <table class="table text-center table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" class="w-12">Name</th>
                                <th scope="col" class="w-1">Total Price</th>
                                <th scope="col" class="w-1">Amount Paid</th>
                                <th scope="col" class="w-1">Balance</th>
                                <th scope="col" class="w-1">Token Error</th>
                                <th scope="col" class="w-12">Edit Log</th>
                                <th scope="col" class="w-12">Employee | Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each object}}
                            <tr height="100">
                                <div id = "Log_ID" hidden>{{this.LogID}}</div>
                                <td>
                                    <input class = "text-center" size = "16" value = "{{this.Name}}" readonly>
                                </td>
                                <td>
                                    <input class = "text-center" size = "1" value = "{{this.TotalPrice}}" readonly>
                                </td>
                                <td>
                                    <input class = "text-center" size = "1" value = "{{this.AmountPaid}}" readonly>
                                </td>
                                <td>
                                    <input class = "text-center" size = "1" value = "{{this.Balance}}" readonly>
                                </td>
                                <td>
                                    <input class = "text-center" size = "1" value = "{{this.TokenError}}" readonly>
                                </td>
                                <td >
                                    <textarea id ="textarea1" class="no-comma" style="white-space:pre-line; font-size: 7pt" cols ="60" rows="20" readonly>{{this.EditLog}}</textarea>
                                </td>
                                <td>
                                    <textarea id ="textarea2" class="no-comma" style="white-space:pre-line; font-size: 7pt" cols ="45" rows="20" readonly>{{this.Handler}}</textarea>
                                </td>
                            </tr>
                        {{/each}}   
                        </tbody>
                        <script>
                            var text1 = $('#textarea1').val().split(',').join('')
                            $('#textarea1').val(text1) 
                            var text2 = $('#textarea2').val().split(',').join('')
                            $('#textarea2').val(text2) 
                        </script>
                        <!-- End of Table Body -->
                    </table>
                    <!-- End of Table -->
                </div>
            </div>
        </div>
    </div>
</body>