<body>
{{>header}}
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-2 sidenav">

                <div id ="hiddenDate" hidden>{{DDate}}</div>
                <div id ="hiddenAcc" hidden>{{ACCType}}</div>
                <div id ="hiddenSes" hidden>{{Session}}</div>

                <form id = "THEDATEFORM" method="post" action="">
                     <div id="THEDATE"> </div>
                        <button id="prevDatebtn" form="THEDATEFORM" class="btn btn-outline-primary">
                            <i class="bi bi-caret-left-fill"></i>
                        </button> {{DDate}} 
                        <button id="nextDatebtn" form="THEDATEFORM" class="btn btn-outline-primary">
                            <i class="bi bi-caret-right-fill"></i>
                        </button> 
                    </form>               

            </div>

        <script>
            $("#nextDatebtn").click((event) => {
                var DDate = $('#hiddenDate').text()
                var ACCType = $('#hiddenAcc').text()
                var Session = $('#hiddenSes').text()
                var newDate = new Date(DDate)
                newDate.setDate(newDate.getDate() + 1) 
                DDate = newDate.toISOString().split('T')[0];

                document.getElementById("THEDATEFORM").setAttribute("action", "/newLog/" + ACCType + "/" + Session + "/" + DDate)
                document.getElementById("THEDATEFORM").submit()
            });

            $("#prevDatebtn").click((event) => {
                var DDate = $('#hiddenDate').text()
                var ACCType = $('#hiddenAcc').text() 
                var Session = $('#hiddenSes').text()
                var newDate = new Date(DDate)
                newDate.setDate(newDate.getDate() - 1) 
                var LastDate = newDate.toISOString().split('T')[0];
    
                document.getElementById("THEDATEFORM").setAttribute("action", "/newLog/" + ACCType + "/" + Session + "/" + LastDate)
                document.getElementById("THEDATEFORM").submit()
            });
        </script>
                  
            <div class="col-sm-10">
                <h4>
                    <small> DAILY REPORT {{DDate}} </small>
                </h4>
                <div class="col-md-12">
                    <table class="table text-center table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" class="w-12">Name</th>
                                <th scope="col" class="w-1">Total Price</th>
                                <th scope="col" class="w-1">Amount Paid</th>
                                <th scope="col" class="w-1">Balance</th>
                                <th scope="col" class="w-1">Token Error</th>
                                <th scope="col" class="w-12">Edit Log</th>
                                <th scope="col" class="w-12">Employee | Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each object}}
                            <tr height="100">
                                <div id = "Log_ID" hidden>{{this.LogID}}</div>
                                <td>
                                    <input class = "text-center" size = "16" value = "{{this.Name}}" readonly>
                                </td>
                                <td>
                                    <input class = "text-center" size = "1" value = "{{this.TotalPrice}}" readonly>
                                </td>
                                <td>
                                    <input class = "text-center" size = "1" value = "{{this.AmountPaid}}" readonly>
                                </td>
                                <td>
                                    <input class = "text-center" size = "1" value = "{{this.Balance}}" readonly>
                                </td>
                                <td>
                                    <input class = "text-center" size = "1" value = "{{this.TokenError}}" readonly>
                                </td>
                                <td >
                                    <textarea id ="textarea1" class="no-comma" style="white-space:pre-line; font-size: 7pt" cols ="60" rows="20" readonly>{{this.EditLog}}</textarea>
                                </td>
                                <td>
                                    <textarea id ="textarea2" class="no-comma" style="white-space:pre-line; font-size: 7pt" cols ="45" rows="20" readonly>{{this.Handler}}</textarea>
                                </td>
                            </tr>
                        {{/each}}   
                        </tbody>
                        <script>
                            var text1 = $('#textarea1').val().split(',').join('')
                            $('#textarea1').val(text1) 
                            var text2 = $('#textarea2').val().split(',').join('')
                            $('#textarea2').val(text2) 
                        </script>
                        <!-- End of Table Body -->
                    </table>
                    <!-- End of Table -->
                </div>
            </div>
        </div>
    </div>
</body>